{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="section-bg">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-xl-12">

				{{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="social-icon">
					<ul class="list-inline">
						<li class="list-inline-item"><a href="https://linkedin.com/company/empath-legal" aria-label="LinkedIn"><i class="ti-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/empathlegal" aria-label="Twitter"><i class="ti-twitter-alt"></i></a></li>
					</ul>
				</div>

				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ site.Home.Permalink }}" aria-label="Home">
						<img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" style="max-height: 50px;">
					</a>
					<p class="mt-4">{{ site.Params.copyright | markdownify }}</p>
					<p class="small text-muted">AI-Powered Juror Insights for Legal Professionals</p>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify | fingerprint "sha384"}}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button"
		class="btn btn-transparent">I Accept</span>
</div>
<script>
(function($) {
	const cookieBox = document.getElementById('js-cookie-box');
	const cookieButton = document.getElementById('js-cookie-button');
	if (!Cookies.get('cookie-box')) {
		cookieBox.classList.remove('cookie-box-hide');
		cookieButton.onclick = function() {
			Cookies.set('cookie-box', true, { expires: 30 });
			cookieBox.classList.add('cookie-box-hide');
		};
	}
})(jQuery);
</script>
{{ end }}